name: Build Swiftgram God Mode
on:
  workflow_dispatch:

jobs:
  build:
    runs-on: macos-14
    steps:
      - uses: actions/checkout@v4
        with:
          submodules: 'recursive'
          fetch-depth: 1

      - name: Apply All Features
        run: bash full_mod_patch.sh

      - name: Setup Signing
        run: |
          # Вставь сюда свой код импорта сертификатов p12 и профиля
          # Без них IPA не соберется!

      - name: Build IPA
        run: |
          python3 build-system/Make/Make.py \
            --overrideXcodeVersion \
            build \
            --buildNumber=1 \
            --configurationPath=build-system/appstore-configuration.json \
            --configuration=release_arm64 \
            --codesigningInformationPath=build-system/fake-codesigning

      - name: Upload result
        uses: actions/upload-artifact@v4
        with:
          name: Swiftgram-Pro-Full
          path: build/artifacts/*.ipa
