name: Build Swiftgram God Mode
on:
  workflow_dispatch:

jobs:
  build:
    runs-on: macos-14
    steps:
      - uses: actions/checkout@v4
        with:
          submodules: 'recursive'
          fetch-depth: 1

      - name: Apply All Features
        run: bash full_mod_patch.sh

      - name: Setup Signing
        run: |
          # Вставь сюда свой блок импорта сертификата (p12 и provision)
          # Если его нет, билд упадет на следующем шаге

      - name: Build IPA
        run: |
          # Добавляем параметр --buildNumber, который требовал скрипт на скрине
          python3 build-system/Make/Make.py \
            --overrideXcodeVersion \
            build \
            --buildNumber=1 \
            --configuration=release_arm64 \
            --codesigningInformationPath=build-system/fake-codesigning

      - name: Upload
        uses: actions/upload-artifact@v4
        with:
          name: Swiftgram-Ultimate-Mod
          path: build/artifacts/*.ipa
